################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DFC.Sitefinity.MicroService.API/obj
/DFC.Sitefinity.MicroService.API/.vs/DFC.Sitefinity.MicroService.API/v15
